ENTRY(Reset_Handler)

MEMORY
{
  FLASH (rx) : ORIGIN = {{ flash_origin }}, LENGTH = {{ flash_length }}
  RAM (rwx)  : ORIGIN = {{ ram_origin }}, LENGTH = {{ ram_length }}
}

SECTIONS
{
  .isr_vector :
  {
    KEEP(*(.isr_vector))
  } > FLASH

  .text :
  {
    *(.text*)
    *(.rodata*)
    . = ALIGN(4);
    __etext = .;
  } > FLASH

  .data : AT (__etext)
  {
    . = ALIGN(4);
    __sdata = .;
    *(.data*)
    . = ALIGN(4);
    __edata = .;
  } > RAM

  .bss :
  {
    . = ALIGN(4);
    __sbss = .;
    *(.bss*)
    *(COMMON)
    . = ALIGN(4);
    __ebss = .;
  } > RAM

  __end = .;
  __StackTop = ORIGIN(RAM) + LENGTH(RAM);
  __sidata = LOADADDR(.data);
}
