#include "hal.h"
#include "app_pins.h"

/*
 * stm32-toolbox HAL quickstart:
 * - hal_clock_init(): sets the default system clock and 1 ms SysTick.
 * - hal_delay_ms(ms) or delay(ms): millisecond delays.
 * - app_pins_init(): configures pins from the GUI.
 * - app_pin_write/toggle/read(): drive mapped pins.
 *
 * Pin map:
{% for pin in pins %}
 *   {{ pin.enum_name }} -> P{{ pin.port }}{{ pin.pin }} ({{ pin.mode }})
{% endfor %}
 */

int main(void)
{
    hal_clock_init();
    hal_uart_init({{ serial_baud }}U);
    hal_uart_write("stm32-toolbox boot\\r\\n");
    app_pins_init();
    hal_uart_init({{ serial_baud }}U);
    hal_uart_write("pins init ok\\r\\n");

    uint32_t slow_ms = 600U;
    uint32_t fast_ms = 150U;
    uint32_t delay_ms = slow_ms;
    bool last_pressed = false;

    while (1)
    {
{% if button_present %}
        bool pressed = app_pin_read({{ button_enum_name }});
        if (pressed && !last_pressed)
        {
            delay_ms = (delay_ms == slow_ms) ? fast_ms : slow_ms;
            hal_uart_write("button\\r\\n");
        }
        last_pressed = pressed;
{% endif %}
        app_pin_toggle({{ led_enum_name }});
        hal_delay_ms(delay_ms);
        hal_uart_write("tick\\r\\n");
    }
}
