#include <stdint.h>
#include "family_gpio.h"

static void delay(volatile uint32_t loops)
{
    while (loops--)
    {
        __asm__ volatile("nop");
    }
}

int main(void)
{
    gpio_led_init();

    while (1)
    {
        gpio_led_toggle();
        delay(800000);
    }
}
